<!-- <div class="container-fluid successfull">
    <h1>Your Purchase was Successfull, Thank You :)</h1>

    <button routerLink="/medicines" class="btn btn-lg btn-primary">Go back to Purchasing</button>
</div> -->

<h2>Thank You For Purchasing :)</h2>
<br/>
<h3>Your Order Will be delivered in :<span style="color:red;">{{ timer }} minutes</span></h3>
<br/>
<h3 style="color:green;">Order Status:{{ deliver }}</h3>
<hr/>
<button routerLink="/medicines" class="btn btn-lg btn-primary">Go back to Purchasing</button>

