<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img class="landing-image" src="https://www.netmeds.com/images/cms/wysiwyg/cms/1680000865_New_Dest_deal.png">
        </div>
        <div class="col-lg-6 intro" style="text-align : center">
            <h3 class="text">Welcome To E-HealthCare!!</h3>
            <br/>
            <br/>
            <h5 style="color:green;">Welcome to our E Health-Care application, where the cost-effective and secure use of information and communications technologies in support of health and health-related fields, including health-care services, health surveillance, health literature, and health education, knowledge and research.</h5>
            <br/>

           
        </div>
    </div>

</div>